## numpy

In [11]:
import numpy as np

In [12]:
l = [1,2,3]
type(l)

list

In [13]:
nparray = np.array(l)
nparray

array([1, 2, 3])

In [14]:
type(nparray)

numpy.ndarray

##### note : range in python is arange in numpy

In [18]:
print(np.arange(0,10) , np.arange(0,10,2))
np.arange(0,10)

[0 1 2 3 4 5 6 7 8 9] [0 2 4 6 8]

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [39]:
zeros = np.zeros(shape=(10,10))
zeros

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [40]:
ones = np.ones((10,10)) #shape word is not necessary to be specified
ones

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

In [25]:
np.random.seed(101)
arr1 = np.random.randint(0,100,10)

In [26]:
arr2 = np.random.randint(0,100,10)

In [27]:
print(arr1,arr2)

[95 11 81 70 63 87 75  9 77 40] [ 4 63 40 60 92 64  5 12 93 40]

In [36]:
print(arr1.max(),"index of max:" ,arr1.argmax(), arr1.min(), arr2.max(), arr2.min(), "mean:",arr2.mean(), sep=" , ")

95 , index of max: , 0 , 9 , 93 , 4 , mean: , 47.3

In [37]:
arr1.reshape((5,2))

array([[95, 11],
       [81, 70],
       [63, 87],
       [75,  9],
       [77, 40]])

In [44]:
mat = np.arange(0,100).reshape((10,10))
mat

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

###### to get a particular element from the array we use

In [45]:
mat[2,3]

23

In [46]:
mat[2,3] = 999
mat

array([[  0,   1,   2,   3,   4,   5,   6,   7,   8,   9],
       [ 10,  11,  12,  13,  14,  15,  16,  17,  18,  19],
       [ 20,  21,  22, 999,  24,  25,  26,  27,  28,  29],
       [ 30,  31,  32,  33,  34,  35,  36,  37,  38,  39],
       [ 40,  41,  42,  43,  44,  45,  46,  47,  48,  49],
       [ 50,  51,  52,  53,  54,  55,  56,  57,  58,  59],
       [ 60,  61,  62,  63,  64,  65,  66,  67,  68,  69],
       [ 70,  71,  72,  73,  74,  75,  76,  77,  78,  79],
       [ 80,  81,  82,  83,  84,  85,  86,  87,  88,  89],
       [ 90,  91,  92,  93,  94,  95,  96,  97,  98,  99]])

###### to get a complete column we use

In [47]:
mat[:,1]

array([ 1, 11, 21, 31, 41, 51, 61, 71, 81, 91])

In [49]:
mat[:,1].shape

(10,)

In [50]:
mat[:1].reshape((10,1))

array([[0],
       [1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [8],
       [9]])

###### to get a complete row we use

In [51]:
mat[1,:]

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [54]:
mat[1:3,1:3]

array([[11, 12],
       [21, 22]])

In [55]:
mat[1:3,1:3].reshape((1,4))

array([[11, 12, 21, 22]])

In [57]:
newmat=mat.copy()

In [58]:
newmat

array([[  0,   1,   2,   3,   4,   5,   6,   7,   8,   9],
       [ 10,  11,  12,  13,  14,  15,  16,  17,  18,  19],
       [ 20,  21,  22, 999,  24,  25,  26,  27,  28,  29],
       [ 30,  31,  32,  33,  34,  35,  36,  37,  38,  39],
       [ 40,  41,  42,  43,  44,  45,  46,  47,  48,  49],
       [ 50,  51,  52,  53,  54,  55,  56,  57,  58,  59],
       [ 60,  61,  62,  63,  64,  65,  66,  67,  68,  69],
       [ 70,  71,  72,  73,  74,  75,  76,  77,  78,  79],
       [ 80,  81,  82,  83,  84,  85,  86,  87,  88,  89],
       [ 90,  91,  92,  93,  94,  95,  96,  97,  98,  99]])

In [61]:
newmat[0:7,0:7] = 0
newmat

array([[ 0,  0,  0,  0,  0,  0,  0,  7,  8,  9],
       [ 0,  0,  0,  0,  0,  0,  0, 17, 18, 19],
       [ 0,  0,  0,  0,  0,  0,  0, 27, 28, 29],
       [ 0,  0,  0,  0,  0,  0,  0, 37, 38, 39],
       [ 0,  0,  0,  0,  0,  0,  0, 47, 48, 49],
       [ 0,  0,  0,  0,  0,  0,  0, 57, 58, 59],
       [ 0,  0,  0,  0,  0,  0,  0, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

## numpy and images

In [62]:
import matplotlib.pyplot as plt
%matplotlib inline

In [64]:
from PIL import Image